<!DOCTYPE html>
<html lang="{{ meta.lang }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ title }} | {{ meta.blogName }}</title>
		{% if description %}
			<meta name="description" content="{{ description }}" />
		{% endif %}
		<link rel="stylesheet" href="/style/style.css" />
		<link rel="icon" href="/images/favicon.png" />
	</head>
	<body>
		<div id="container">
			{% include "header.html" %}
			<main id="content">{{ content | safe }}</main>
			{% include "footer.njk" %}
		</div>
	</body>
</html>
